<div class="container-fluid web-view">
    <!-- <p>web view</p> -->

    <div class="row" *ngIf="!loading">
        <div class="col-md-6">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Achievement
                        <!-- <span><i class="fa fa-refresh" (click)="resetCharts()"></i></span> -->
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="chart">
                        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend" (chartClick)="chartClicked($event)">
                                          </canvas>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>

        <div class="col-md-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Brand</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <app-bar-chart [barCharData]="brandAchievementAvgList" [chartPosition]="'bottom'" [chartName]="'brand'"></app-bar-chart>
                </mat-card-content>
            </mat-card>
        </div>
        <hr/>
        <div class="col-md-12 mt-5" *ngIf="!!selectedZone && zoneClicked">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Territory</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <app-bar-chart [barCharData]="territoryAchievementAvgList" [chartPosition]="'bottom'" [chartName]="'territory'"></app-bar-chart>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- <div class="col-md-8">
          <line-chart></line-chart>
      </div> -->


    </div>

    <div class="row" *ngIf="!loading">

    </div>


    <div *ngIf="loading " class="mb-20 " flFlex flexLayout="row " flexLayout.lt-md="column ">
        <div fxFlex class="img-center ">
            <img src="assets/images/basicloader.gif " alt=" " srcset=" ">
        </div>
    </div>
</div>

<div class="container-fluid mobile-view">
    <!-- <p>mobile view</p> -->


    <div class="row" *ngIf="!loading">
        <div class="col-sm-12" style="width: 400px !important;">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Achievement</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="chart">
                        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend" (chartClick)="chartClicked($event)">
                                          </canvas>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm-12 mobile-mt-3 mt-3">
            <mat-card style="margin-top:15px;width: 400px !important;">
                <mat-card-header>
                    <mat-card-title>Brand </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div style="display: block">
                        <app-bar-chart [barCharData]="brandAchievementAvgList" [chartPosition]="'bottom'" [chartName]="'brand'"></app-bar-chart>

                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm-12 mobile-mt-3" *ngIf="!!selectedZone && zoneClicked">
            <!-- <line-chart></line-chart> -->
            <mat-card style="margin-top:15px;width: 400px !important;">
                <mat-card-header>
                    <mat-card-title>Territory</mat-card-title>
                </mat-card-header>

                <mat-card-content>


                    <div style="display: block">
                        <app-bar-chart [barCharData]="territoryAchievementAvgList" [chartPosition]="'bottom'" [chartName]="'territory'"></app-bar-chart>

                    </div>
                </mat-card-content>
            </mat-card>
        </div>


    </div>

    <div class="row" *ngIf="!loading">

    </div>


    <div *ngIf="loading " class="mb-20 " flFlex flexLayout="row " flexLayout.lt-md="column ">
        <div fxFlex class="img-center ">
            <img src="assets/images/basicloader.gif " alt=" " srcset=" ">
        </div>
    </div>
</div>