mat-card-title {
    color: #F44336;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('src/assets/images/Nestle-Logo.png');
    background-size: cover;
}

.card2 {
    // max-width: 265px !important;
    box-shadow: 5px 10px 18px #888888;
}

.a-link {
    cursor: pointer;
    color: blue !important;
}

.js {
    justify-content: center !important;
}

img.small:hover {
    border: 2px lightblue dashed;
    cursor: pointer;
}

.mt-65 {
    margin-top: 50px !important;
}

table:hover {
    border: 2px lightblue dashed;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

// .js:last-child {
//     justify-content: start;
// }


.ribbon {
    position: relative;
    float: left;
    margin-bottom: 0px;
    background-size: cover;
    text-transform: uppercase;
    color: white;
}

.ribbon2 {
    width: 50px;
    padding: 10px 0;
    position: absolute;
    top: -25px;
    /*  left: 150px; */
    right: 0px;
    text-align: center;
    /* border-top-left-radius: 3px; */
    background: #3f51b5;
}

.ribbon2:before {
    height: 0;
    width: 0;
    right: 50px;
    top: 0;
    border-bottom: 10px solid #3f51b5;
    border-left: 10px solid transparent;
}

.ribbon2:before,
.ribbon2:after {
    content: "";
    position: absolute;
}

.ribbon2:after {
    height: 0;
    width: 0;
    bottom: -20px;
    left: 0;

    /*   border-left: 0px solid #F47530;
border-right: 30px solid #F47530;
border-bottom: 30px solid transparent; */
    /*   position: absolute; */
    /*   content: ""; */
    /*   width: 0; */
    /*   height: 0; */
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #3f51b5;
}


.cursor{
    cursor: pointer;
}