<mat-card class="mb-20">
  <mat-card-content>
    <mat-card-title>
      <h3>Attendance Approval</h3>
      <a class="title" href="http://tradetracker.com.pk/" target="_blank">
        <img width="90" src="assets/images/tt2logo.png">

    </a>
    </mat-card-title>
    <br>
    <br>
    <section class="example-section">

        <section class="example-section">
          <mat-form-field class="example-margin mr-5-IMP">
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" [(ngModel)]="chooseDate"  placeholder="Choose Date" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-margin mr-5-IMP" *ngIf="isAdmin">
            <mat-select  placeholder="Selected Region" name='Region' [(ngModel)]="selectedZoneFilter" (ngModelChange)="getRegionsByZoneId()">
              <mat-option [value]="zone.id" *ngFor="let zone of zones">{{zone.title}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-margin mr-5-IMP">
            <mat-select placeholder="Choose territory" name='Territory' [(ngModel)]="selectedRegion"  >
              <mat-option [value]="type.id" *ngFor="let type of regions"  >{{type.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </section>
        
        <section class="example-section">
          <button class="mr-5-IMP" mat-raised-button color="warn" (click)="getUsers()">Submit</button>
          <button class="mr-5-IMP" mat-raised-button color="primary" (click)="resetFilters()">Reset Filters</button>

      </section>
      <br>
      <br>
      <div >
          <table class="table"  >
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Code</th>
              <th scope="col">Name</th>
              <th scope="col">employeeId</th>
              <th scope="col">Date</th>
              <th scope="col">Marked Attendance</th>
              <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody >
            <tr  *ngFor="let attendance of dataTable; let i = index;"  >
              <td>
                {{attendance.attendanceId}}
              </td>
              <td>
                {{attendance.surveyorCode}}
              </td>
              <td>
                {{attendance.surveyorName}}
              </td>
              <td>
                {{attendance.employeeId}}
              </td>
              <td>
                {{attendance.attendanceDate}}
              </td>
              <td>
                {{attendance.attendanceStatus}}
              </td>
              <td *ngIf="attendance.approvalStatus == 'N'">
                <button mat-raised-button color="primary" (click)="updateAttendanceApproval(attendance.attendanceId)" >Approve</button>

              </td>
              <td *ngIf="attendance.approvalStatus == 'Y'">
                <button  mat-raised-button class="success-color">Approved</button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
    </section>
  </mat-card-content>


</mat-card>
