
<mat-card class="mb-20" *ngIf="router.url==='/dashboard/tm_productivity_report'">

  <mat-card-content>
    <mat-card-title>
      {{title| uppercase}} <i color="warn" [ngClass]="{'fa fa-cog fa-spin':loadingData}"></i>
      <small style="color:lightseagreen !important" class="mtb-5-IMP" *ngIf="loadingReportMessage">Your file is being prepared for download</small>
      <a class="title" href="http://tradetracker.com.pk/" target="_blank">
        <img width="90" src="assets/images/tt2logo.png">

    </a>
    </mat-card-title>

    <section class="example-section">

      <mat-form-field class="example-full-width mr-5-IMP">
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker0" [(ngModel)]="startDate"  placeholder="Choose a start date" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
        <mat-datepicker #picker0></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width mr-5-IMP">
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" [(ngModel)]="endDate"  placeholder="Choose a end date" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-margin mr-5-IMP" *ngIf="isAdmin">
        <mat-select  placeholder="Selected Region" name='Region' [(ngModel)]="selectedZone.id" (ngModelChange)="getRegionsByZoneId()">
          <mat-option [value]="zone.id" *ngFor="let zone of zones">{{zone.title}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-margin mr-5-IMP">
        <mat-select placeholder="Selected Territory" name='Territory'  [(ngModel)]="selectedRegion.id" (ngModelChange)="onRegionChange(selectedRegion.id)">
          <mat-option [value]="region.id" *ngFor="let region of regions">{{region.title}}</mat-option>
        </mat-select>
      </mat-form-field>

<!--      <mat-form-field class="example-margin mr-5-IMP">
        <mat-select placeholder="Selected Town" name='Town' [(ngModel)]="this.selectedCity.id" (ngModelChange)="getTabsData($event,'town')">
          <mat-option [value]="city.id" *ngFor="let city of cities">{{city.title}}</mat-option>
        </mat-select>
      </mat-form-field>-->
    </section>
    <section class="example-section">
      <button class="mr-5-IMP" mat-raised-button color="warn" (click)="getTabsData()">Submit</button>
      <button class="mr-5-IMP" mat-raised-button color="primary" (click)="resetFilters()">Reset Filters</button>

    </section>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="tableData.length>0 && router.url==='/dashboard/tm_productivity_report'">
  <mat-card-content>

    <table class="table animated slideInLeft">
      <thead>
      <tr>
        <th scope="col" (click)="sortIt('territory_name')">Territory
          <br>
          <i class="material-icons arrow">
            {{getArrowType('territory_name')}}
          </i>
        <th scope="col" (click)="sortIt('tm_code')">T.M Code
          <br>
          <i class="material-icons arrow">
            {{getArrowType('tm_code')}}
          </i>

        </th>
        <th scope="col" (click)="sortIt('tm_name')">T.M Name
          <br>
          <i class="material-icons arrow">
            {{getArrowType('tm_name')}}
          </i>
        </th>
        <th scope="col" (click)="sortIt('shops_attempted')">Shops Attempted
          <br>
          <i class="material-icons arrow">
            {{getArrowType('shops_attempted')}}
          </i>
        </th>

      </tr>
      </thead>
      <tbody *ngIf="tableData.length > 0">
      <ng-container *ngFor="let item of tableData |  orderBy: sortBy : sortOrder">
        <tr>
          <td>{{item.territory_name}}</td>

          <td>{{item.tm_code}}</td>
          <td>
            {{item.tm_name}}
          </td>

          <td *ngIf="item.shops_attempted == 0">
            {{item.shops_attempted}}
          </td>
          <td class="a-link" *ngIf="item.shops_attempted!=0" title="shops_attempted">
            <a class="a-link" target="_blank" title="view shop details" [routerLink]="['/dashboard/shop_detail_visit',item.tm_id]" [queryParams]="{'id':item.tm_id,'remark_id':-2 , 'visitType':'visit'}" queryParamsHandling="merge">{{item.shops_attempted}}</a>

          </td>

        </tr>
      </ng-container>



      </tbody>
    </table>

  </mat-card-content>
</mat-card>
