<mat-card class="mb-20">
    <mat-card-content>
        <mat-card-title>
          Add Towns&nbsp;
         <i [ngClass]="{'fa fa-cog fa-spin':loading}" color="primary"> </i>


        </mat-card-title>
        <section class="example-section">

          <mat-form-field class="example-margin mr-5-IMP">
            <mat-select [(ngModel)]="selectedZoneFilter" name='region' placeholder="Select Region" (ngModelChange)="getRegionsByZoneId()">
              <mat-option *ngFor="let zone of zones" [value]="zone.id | orderBy:zone.title">{{zone.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
            <mat-form-field class="example-margin mr-5-IMP">
                <mat-select [(ngModel)]="selectedRegionFilter" name='region' placeholder="Select Territory" >
                  <mat-option *ngFor="let region of regions" [value]="region.id | orderBy:region.title">{{region.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
         <!-- <mat-form-field class="example-margin mr-5-IMP">
            <mat-select [(ngModel)]="selectedAttendanceType" name='attendance' placeholder="Attendance Type" (ngModelChange)="onAttendanceTypeChange(selectedAttendanceType)">
              <mat-option value="ALL">ALL</mat-option>
              <mat-option value="DE">DE</mat-option>
              <mat-option value="TM">TM</mat-option>
            </mat-select>
          </mat-form-field>-->
          <button mat-raised-button class="btn-margin" color="warn" (click)="getTownListByRegionId()">Submit</button>
          <button mat-raised-button class="btn-margin" color="primary" (click)="resetFilters()">Reset Filters</button>
          <button mat-raised-button class="btn-margin" color="primary" (click)="showAddTownModal()">Add Town</button>
            </section>
        </mat-card-content>
     </mat-card>

  <!--   <div class="col-md-12">
            <div style="text-align: end">
                <mat-form-field class="example-margin mr-0-IMP">
                    <mat-select name='download' placeholder="Download File" [(ngModel)]="selectedFileType" (ngModelChange)="downloadFile(selectedFileType)" >
                        <mat-option *ngFor="let file of downloadList" [value]="file">
                            <i aria-hidden="true" class="{{file?.icon}}"></i> {{file?.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span>&nbsp;</span>
            </div>
        </div>-->
     <mat-card>
       <mat-card-content>
           <table class="table">
               <thead>
                   <tr>

                     <th scope="col" (click)="sortIt('territory_name')">Territory Name
                       <br>
                       <i class="material-icons arrow">
                            {{getArrowType('territory_name')}}
                         </i>
                     </th>
                     <th scope="col" (click)="sortIt('town_name')" >Town Name
                         <br>
                         <i class="material-icons arrow">
                                {{getArrowType('town_name')}}
                           </i>
                     </th>
                     <th scope="col" (click)="sortIt('action')" >Action
                       <br>
                       <i class="material-icons arrow">
                         {{getArrowType('action')}}
                       </i>
                     </th>

                     <!--  <th scope="col" (click)="sortIt('code')">Code
                           <br>
                           <i class="material-icons arrow">
                                {{getArrowType('code')}}
                             </i>
                       </th>
                       <th scope="col" (click)="sortIt('name')">Name
                           <br>
                           <i class="material-icons arrow">
                                {{getArrowType('name')}}
                             </i>
                       </th>
                       <th scope="col" (click)="sortIt('remarks')">Day Start
                           <br>
                           <i class="material-icons arrow">
                                {{getArrowType('remarks')}}
                             </i>
                       </th>
                       <th scope="col" (click)="sortIt('work_type')">Work Type
                           <br>
                           <i class="material-icons arrow">
                                {{getArrowType('work_type')}}
                             </i>
                       </th>

                       <th>Action
                           <br>
                           <i class="material-icons arrow">
                               </i>
                       </th>-->
                   </tr>
               </thead>
               <tbody>
                   <ng-container *ngFor="let town of townList |  orderBy: sortBy : sortOrder ">
                       <tr>

                           <td>{{town.territory_name}}</td>
                           <td>{{town.title}}</td>
                           <td><i class="far fa-edit" (click)="showChildModal(town)"></i></td>
                         <!--  <td>{{item.code}}</td>
                           <td>{{item.name}}</td>
                           <td>{{item.remarks}}</td>
                           <td>{{item.work_type}}</td>

                           <td>
                               <button title="edit" type="button" class="btn btn-primary" (click)="showChildModal(item)">
                                       <i class="fas fa-pencil-alt"></i>
                               </button>

                           </td>
-->
                       </tr>
                   </ng-container>
               </tbody>
           </table>
       </mat-card-content>
     </mat-card>


     <div bsModal #addTown="bs-modal" [config]="{backdrop: 'static',keyboard: false}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
         <div class="modal-dialog ">
             <div class="modal-content">
                 <div class="modal-header">
                     <h4 id="dialog-child-name" class="modal-title pull-left">Add Town</h4>
                     <button type="button" class="close pull-right" aria-label="Close" (click)="hideAddTownModal()" >
                       <span aria-hidden="true">&times;</span>
                      </button>
                 </div>
                 <div class="modal-body">

                     <div class="form-group ">

                         <div class="example-margin example-full-width mr-10-IMP">

                           <label for="select" style="
                            color: #a5a2a2;
                            font-size: 12px;
                        ">Select Region:</label> <br>
                           <select [(ngModel)]="selectedZoneIdForTownModal" class="form-control" class="select-text" (ngModelChange)="getRegionsByZoneId()">
                             <option *ngFor="let zone of zones" [value]="zone.id">{{zone.title}}</option>
                           </select>
                           <label for="select" style="
                            color: #a5a2a2;
                            font-size: 12px;
                        ">Select Territory:</label> <br>
                           <select [(ngModel)]="selectedRegionIdForTownModal" class="form-control" class="select-text" (ngModelChange)="getRegionsByZoneId()">
                             <option *ngFor="let region of regions" [value]="region.id">{{region.title}}</option>
                           </select>
                           <label for="select" style="
                            color: #a5a2a2;
                            font-size: 12px;
                        ">Town Name:</label> <br>
                           <mat-form-field class="example-margin example-full-width mr-10-IMP">
                             <input [(ngModel)]="townNameForAddTown" matInput placeholder="Town Name" >
                           </mat-form-field>
                           </div>
                       </div>
                 </div>

                 <div class="modal-footer">
                     <button class="btn btn-primary" (click)="addCity()">
                         Add Town
                     </button>
                 </div>
             </div>
         </div>
     </div>


<div bsModal #childModal="bs-modal" [config]="{backdrop: 'static',keyboard: false}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name-one" class="modal-title pull-left">Edit Town Name</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group ">

          <div class="example-margin example-full-width mr-10-IMP">
           <!-- <label for="select" style="
                            color: #a5a2a2;
                            font-size: 12px;
                        ">Town Name :</label> <br>-->
            <!--<select class="form-control" id="workTypeId" [(ngModel)]="selectedWork" name="selectedWork">
              <option *ngFor="let item of tableData" [value]="item.id">{{item.description}}</option>
            </select>-->
            <mat-form-field class="example-margin example-full-width mr-10-IMP">
              <input [(ngModel)]="selectedTownName" matInput placeholder="Town Name" >
            </mat-form-field>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" (click)="updateTown()">
          Update
        </button>
      </div>
    </div>
  </div>
</div>
