<!-- <router-outlet></router-outlet> -->
<mat-card class="mb-20">

    <mat-card-content>
        <mat-card-title>
            {{title| uppercase}}
            <i [ngClass]="{'fa fa-cog fa-spin':loading}" color="primary"> </i>
            <a class="title" href="http://tradetracker.com.pk/" target="_blank">
                <img width="90" src="assets/images/tt2logo.png">

            </a>
        </mat-card-title>
        <section class="example-section">
            <!-- {{regions[0] | json}} -->
            <mat-form-field class="example-margin mr-10-IMP">
                <mat-select (ngModelChange)="onRegionChange($event)" [(ngModel)]="selectedRegion" name='region' placeholder="Territory">
                    <mat-option *ngFor="let region of regions" [value]="region.id | orderBy:region.title">{{region.title}}</mat-option>
                </mat-select>
            </mat-form-field>




        </section>

        <div class="example-section" style="text-align: end">
            <!-- <button mat-raised-button class="btn btn-primary" style="margin-left:10px" (click)="showChildModal()">Add DSR</button>
<span>&nbsp;</span>
<button mat-raised-button class="btn btn-primary" (click)="showBlock()">Add Block</button> -->
            <mat-form-field class="example-margin mr-10-IMP">
                <mat-select name='download' placeholder="Download File" [(ngModel)]="selectedFileType" (ngModelChange)="downloadFile(selectedFileType)">
                    <mat-option *ngFor="let file of downloadList" [value]="file">
                        <i aria-hidden="true" class="{{file?.icon}}"></i> {{file?.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span>&nbsp;</span>
            <!-- <button mat-raised-button class="btn btn-primary" (click)="downloadCSV()">Download CSV</button>
            <span>&nbsp;</span>
            <button mat-raised-button class="btn btn-primary" (click)="downloadExcel()">Download EXCEL</button> -->

        </div>

    </mat-card-content>


</mat-card>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a (click)="clickedNow(1,'DE','DE');getDesAndDsrs();getEmployeesList()" [class.active]="(tabName=='DE')" aria-controls="DE" aria-selected="true" class="nav-link active" data-toggle="tab" id="DE-tab" role="tab">DE</a>
    </li>
    <li class="nav-item">
        <a (click)="clickedNow(2,'DSR','DSR');getDsrDetails(-1);getDesAndDsrs()" [class.active]="(tabName=='DSR')" aria-controls="DSR" aria-selected="false" class="nav-link" data-toggle="tab" id="DSR-tab" role="tab">DSR</a>
    </li>
    <li class="nav-item">
        <a (click)="clickedNow(3,'Block','Block');getDsrAreasDetails(-1)" [class.active]="(tabName=='Block')" aria-controls="Block" aria-selected="false" class="nav-link" data-toggle="tab" id="Block-tab" role="tab">Block</a>
    </li>
    <li class="nav-item " style="position: relative">
        <a (click)="showChildModal()" *ngIf="(tabName=='DSR' && selectedDE != -1)" aria-controls="Block" aria-selected="false" class="nav-link alighAtEnd" data-toggle="tab" id="Block-tab" role="tab">
            <i class="fa fa-plus fa-2x" id="plus"></i>
        </a>
        <a (click)="showBlock()" *ngIf="(tabName=='Block' && selectedDSR != -1)" aria-controls="Block" aria-selected="false" class="nav-link alighAtEnd" data-toggle="tab" id="Block-tab" role="tab">
            <i class="fa fa-plus fa-2x" id="plus"></i>
        </a>
    </li>

    <!-- <li class="nav-item" *ngIf="(tabName=='Shops')"> -->
    <!-- (click)="clickedNow(4,'Shops','Shops');getShopsList(-1)" -->
    <!-- <a [class.active]="(tabName=='Shops')" aria-controls="Shops" aria-selected="false" class="nav-link" data-toggle="tab" id="Block-tab" role="tab">Shops</a>
    </li> -->

</ul>

<div class="tab-content" id="myTabContent">
    <div *ngIf="(tabName=='DE')" [class.active]="(tabName=='DE')" aria-labelledby="DE-tab" class="tab-pane fade show" id="DE" role="tabpanel">
        <DE-details (selectedId)="catchEvent('DSR','DSR',$event)" [data]="tableData" [employeeList]="employeeList"></DE-details>
    </div>
    <div *ngIf="(tabName=='DSR')" [class.active]="(tabName=='DSR')" aria-labelledby="DSR-tab" class="tab-pane fade show" id="DSR" role="tabpanel">

        <DSR-detail  (DsrBlocks)="catchEvent('dsrBlocks', 'dsrBlocks',$event)"   (selectedId)="catchEvent('Block','Block',$event)" (updateDSR)="setvalues($event)" [data]="dsrTabledata">
        </DSR-detail>
    </div>
    <div *ngIf="(tabName=='Block')" [class.active]="(tabName=='Block')" aria-labelledby="Block-tab" class="tab-pane fade show" id="Block" role="tabpanel">
        <DSR-block (getBlockShops)="catchEvent('Shops','Shops',$event)" (updateBlock)="setvaluesForBlock($event)" [data]="dsrAreasDetailTable" [data]="dsrAreasDetailTable"></DSR-block>
    </div>



    <!-- <div *ngIf="(tabName=='Shops')" [class.active]="(tabName=='Shops')" aria-labelledby="Shops-tab" class="tab-pane fade show" id="Shops" role="tabpanel">
        <shops-in-block [data]="getBlockWiseShops"></shops-in-block>
    </div> -->
</div>

<div #childModal="bs-modal" [config]="{backdrop: 'static',keyboard: false}" aria-labelledby="dialog-child-name" bsModal class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 *ngIf="isEditing" class="modal-title pull-left" id="dialog-child-name">Edit DSR</h4>
                <h4 *ngIf="!isEditing" class="modal-title pull-left" id="dialog-child-name">Add DSR</h4>

                <button (click)="hideChildModal()" aria-label="Close" class="close pull-right" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <section class="example-section">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-margin example-full-width mr-10-IMP">
                                <input [(ngModel)]="selectedItemCloneForPayload.dsrName" matInput placeholder="DSR Name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="select" style="
                            color: #a5a2a2;
                            font-size: 12px;
                        "> Select DE :</label> <br>
                            <select [(ngModel)]="selectedItemCloneForPayload.surveyorId" class="form-control" class="select-text">
                            <option [value]="item.surveyor_id" *ngFor="let item of tableData" >{{item.DEs_name  + ' - ' + item.DEs_code}}</option>
                            </select>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="select" style="
                            color: #a5a2a2;
                            font-size: 12px;
                        ">DSR Type :</label> <br>
                      <select [(ngModel)]="selectedItemCloneForPayload.dsrType" class="form-control" class="select-text">
                        <option [value]="item.type" *ngFor="let item of dsrTypes" >{{item.type}}</option>
                      </select>
                    </div>
                  </div>
                    <div class="row" *ngIf="isEditing">
                      <div class="col-md-12">
                        <label for="select" style="
                            color: #a5a2a2;
                            font-size: 12px;
                        "> Status :</label> <br>
                      <section class="example-section" placeholder="DE name here">
                        <mat-slide-toggle
                          class="example-margin"
                          [color]="color"
                          [checked]=""
                          [disabled]=""
                          [(ngModel)]="checked"
                        >
                          <span *ngIf="checked == true ">Active</span>
                          <span *ngIf="checked == false ">In-Active</span>
                        </mat-slide-toggle>
                      </section>
                    </div>
                    </div>



                </section>
            </div>

            <div class="modal-footer">
                <button (click)="updateDSRName()" *ngIf="isEditing" class="btn btn-primary">
          Update
        </button>
                <button (click)="addDSR()" *ngIf="!isEditing" class="btn btn-primary">
          Add
        </button>
            </div>
        </div>
    </div>
</div>


<div #Block="bs-modal" [config]="{backdrop: 'static',keyboard: false}" aria-labelledby="dialog-child-name" bsModal class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 *ngIf="isEditing" class="modal-title pull-left" id="dialog-child-name">Edit Block</h4>
                <h4 *ngIf="!isEditing" class="modal-title pull-left" id="dialog-child-name">Add Block</h4>

                <button (click)="hideBlock()" aria-label="Close" class="close pull-right" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modal-body">
                <section class="example-section">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-margin example-full-width mr-10-IMP">
                                <input [(ngModel)]="selectedItemCloneForPayload.blockName" matInput placeholder="Block Name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-12">
                            <label for="select" style="                                color: #a5a2a2;                                font-size: 12px;                            ">
                DSR:</label> <br>
                            <select [(ngModel)]="selectedItemCloneForPayload.dsrId" class="form-control" class="select-text">
                              <option [value]="-1"></option>
                <option *ngFor="let item of dsrsList" [value]="item.dsr_id">{{item.dsr_name +' - '+ item.dsr_id}}</option>
              </select>


                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-12">
                            <label for="select" style="                                color: #a5a2a2;                                font-size: 12px;                            ">
                VAN:</label> <br>
                            <select [(ngModel)]="selectedDsrVan" class="form-control" class="select-text">
                              <option [value]="-1"></option>
                <option *ngFor="let item of dsrsVanList" [value]="item.dsr_id">{{item.dsr_name +' - '+ item.dsr_id}}</option>
              </select>


                        </div>
                    </div>
                    <div *ngIf="!isEditing" class="row">
                        <div class="col-md-12">
                            <label for="select" style="
                            color: #a5a2a2;
                            font-size: 12px;
                        "> Town:</label> <br>
                            <select [(ngModel)]="selectedItemCloneForPayload.townId" class="form-control" class="select-text">
                              <option [value]="-1"></option>
                <option *ngFor="let item of townList | orderBy:title " [value]="item.id">{{item.title}}</option>
              </select>


                        </div>
                    </div>

                  <div class="row" *ngIf="isEditing">
                    <div class="col-md-12">
                      <label for="select" style="
                            color: #a5a2a2;
                            font-size: 12px;
                        "> Status :</label> <br>
                      <section class="example-section" >
                        <mat-slide-toggle
                          class="example-margin"
                          [color]="color"
                          [checked]=""
                          [disabled]=""
                          [(ngModel)]="checked"
                        >
                          <span *ngIf="checked == true ">Active</span>
                          <span *ngIf="checked == false ">In-Active</span>
                        </mat-slide-toggle>
                      </section>
                    </div>
                  </div>
                </section>

            </div>



            <div class="modal-footer">
                <button (click)="updateBlock()" *ngIf="isEditing" class="btn btn-primary"> Update </button>
                <button (click)="addBlock()" *ngIf="!isEditing" class="btn btn-primary"> Add </button>

            </div>
        </div>
    </div>
</div>


<div bsModal #blockShops="bs-modal" [config]="{backdrop: 'static',keyboard: false}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">Shops <i [ngClass]="{'fa fa-cog fa-spin':loading}" color="primary"> </i></h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideBlockShopsModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">

                <shops-in-block [selectedBlock]="selectedBlock" [data]="getBlockWiseShops" [blockList]="dsrAreasDetailTable" (updateShopInBlock)="updateShopInBlock($event)"></shops-in-block>
            </div>
        </div>
    </div>
</div>


<div bsModal #DsrBlocks="bs-modal" [config]="{backdrop: 'static',keyboard: false}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Blocks <i [ngClass]="{'fa fa-cog fa-spin':loading}" color="primary"> </i></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideDsrBlockModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <block-in-dsr [selectedBlock]="selectedBlock" [data]="dsrAreasDetailTable" [dsrList]="dsrsList" (updateBlockInDsr)="updateBlockInDsr($event)"></block-in-dsr>
      </div>
    </div>
  </div>
</div>
