.example-form {
  // min-width: 150px;
  // max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 15em;
}

/*h4 {
  color: #ed6359;
  margin-top: 15px !important;
}*/

.mat-card-content {
  width: 100%;
}


.mr-5-IMP {
  margin-right: 0.5% !important;
}

.mtb-5-IMP {
  margin: 0.5% 1% !important;
}

.span-color {
  color: #ed6359;
}

h3, h5 {
  color: #3F51B5 !important;
}

.valid-transfercode-span {
  color: #3A7C09;
}
.invalid-transfercode-span {
  color: #ed6359;
}

.col {
  width: 250px;
}

.btn-primary:hover {
  background-color: #3f51b5;
}
.btn-primary {
  background-color: #3f51b5;
}

.modal-dialog{
  max-width: 750px;
}

.table th{
  text-align: center;
}
.table td {
  text-align: center;
}



