<mat-card class="mb-20">
    <mat-card-title>
        DSR Sale Target&nbsp;
        <i [ngClass]="{'fa fa-cog fa-spin':loading}" color="primary"> </i>
        <a class="title" href="http://tradetracker.com.pk/" target="_blank">
            <img width="90" src="assets/images/tt2logo.png">

        </a>
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-form-field class="example-margin mr-10-IMP">
                            <mat-select [(ngModel)]="selectedMonth" #monthId="ngModel"
                                placeholder="Select month">
                                <mat-option [value]="month.key" *ngFor="let month of monthList">{{month.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class="form-group col-md-4">

                        <mat-form-field class="example-margin mr-10-IMP">
                            <mat-select [(ngModel)]="selectedYear" #yearId="ngModel"
                                placeholder="Select year">
                                <mat-option [value]="year.key" *ngFor="let year of yearList">{{ year.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>


                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-form-field class="example-margin mr-10-IMP">
                            <mat-select [(ngModel)]="selectedZone" name='zome' placeholder="Region"
                                (ngModelChange)="onZoneChange()">
                                <mat-option *ngFor="let zone of zones" [value]="zone.id | orderBy:zone.title">
                                    {{zone.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                        <mat-form-field class="example-margin mr-10-IMP">
                            <mat-select [(ngModel)]="selectedRegion" name='region' placeholder="Territory"
                                (ngModelChange)="onRegionChange()">
                                <mat-option *ngFor="let region of regions" [value]="region.id | orderBy:region.title">
                                    {{region.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field class="example-margin mr-10-IMP">
                            <mat-select [(ngModel)]="selectedTown" name='town' placeholder="Town">
                                <mat-option *ngFor="let town of towns" [value]="town.id | orderBy:town.title">
                                    {{town.title}}

                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button color="primary" class="reset-button" (click)="fun()">Submit</button>
                <button mat-raised-button color="primary" class="reset-button" (click)="resetFilters()">Reset
                    Filters</button>
                <button type="button" mat-raised-button color="warn" (click)="downloadDsrDataReport()">Sample</button>
            </div>
            <div class="col-md-6">

                <section class="example-section col-md-12">
                    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
                        <div class="row mt-4 ">
                            <div>
                                <ng-container class="ml-5">
                                    <label class="mr-2" for="avatar">Please upload DSR Sale Target:</label>
                                    <input #fileInput (change)="onFileChange($event)" id="avatar" type="file" />
                                </ng-container>
                            </div>
                            <button color="warn" mat-raised-button type="submit"
                                [disabled]="this.form.controls.number.dirty && this.form.controls.number.invalid">
                                upload
                            </button>
                        </div>

                        <h4 *ngIf="response">Added Successfully..</h4>
                    </form>
                </section>
            </div>


        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <div class="row">
        <!-- <div class="col-md-8">
            
        </div> -->
        <div class="col-md-12">
            <div style="text-align: end">
                <mat-form-field class="example-margin mr-0-IMP">
                    <mat-select name='download' placeholder="Download File" [(ngModel)]="selectedFileType"
                        (ngModelChange)="downloadFile(selectedFileType)">
                        <mat-option *ngFor="let file of downloadList" [value]="file">
                            <i aria-hidden="true" class="{{file?.icon}}"></i> {{file?.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span>&nbsp;</span>
            </div>
        </div>

    </div>
    <mat-card-content>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Territory</th>
                    <th scope="col">Town</th>
                    <th scope="col">DSR name</th>
                    <th scope="col">Brand name</th>
                    <th scope="col">Retail Target</th>
                    <th scope="col">WholeSale Target</th>
                    <th scope="col">Month</th>
                    <th scope="col">Year</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableData">
                    <td>{{item.territory}}</td>
                    <td>{{item.town}}</td>
                    <td>{{item.dsr_name}}</td>

                    <td>{{item.Brand_Name}}</td>
                    <td>{{item.retail_target}}</td>

                    <td>{{item.wholesale_target}}</td>
                    <td>{{item.month_no}}</td>

                    <td>{{item.year_no}}</td>

                </tr>
            </tbody>
        </table>
    </mat-card-content>

</mat-card>