<mat-card class="mb-20">
  <mat-card-content>
    <mat-card-title>
      <h3>View Stock</h3>
      <a class="title" href="http://tradetracker.com.pk/" target="_blank">
        <img width="90" src="assets/images/tt2logo.png">

    </a>
    </mat-card-title>
    <br>
    <br>
    <section class="example-section">
        <section class="example-section">
          <mat-form-field class="example-margin mr-5-IMP">
            <mat-select placeholder="FACTORY" name='FACTORY' [(ngModel)]="selectedFactory" >
              <mat-option [value]="type.id" *ngFor="let type of factories" (click)="getFactoryStock()" >{{type.title}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-margin mr-5-IMP">
            <mat-select placeholder="TERRITORY" name='TERRITORY' [(ngModel)]="selectedTerritory"  >
              <mat-option [value]="type.id" *ngFor="let type of territories"  (click)="getTerritoryStock()" >{{type.title}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-margin mr-5-IMP">
            <mat-select placeholder="TOWN" name='TOWN' [(ngModel)]="selectedTown" >
              <mat-option [value]="type.id" *ngFor="let type of towns" (click)="getTownStock()">{{ type.title }}</mat-option>
            </mat-select>
          </mat-form-field>
        </section>


        <br>
        <h5 *ngIf="isFactoryStock"> Factory Available Stock</h5>
        <h5 *ngIf="isTerritoryStock"> Territory Available Stock</h5>
        <h5 *ngIf="isTownStock"> Town Available Stock</h5>
        <div >
          <table class="table"  >
            <thead>
            <tr>
              <th scope="col">Brand Name</th>
              <th scope="col">Available Stock Quantity</th>
            </tr>
            </thead>
            <tbody >
            <tr  *ngFor="let stock of availableStock; let i = index;"  >
              <td>
                {{stock.brandName}}
              </td>
              <td>
                {{stock.stock}}
              </td>
            </tr>

            </tbody>
          </table>
        </div>
    </section>
  </mat-card-content>


</mat-card>
